body {
  overflow: hidden;
}  
#backgroundImg {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#city {
  width: 120%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13%;
  margin-left: -12%;
  z-index: 0;
}
#cloud {
  width: 30%;
  position: absolute;
  margin-top: 5%;
  margin-left: 26%;
  z-index: 1;
}
#cloud1 {
  width: 25%;
  margin-top: 12%;
  position: absolute;
  z-index: 1;
}
#cloud3 {
  width: 30%;
  margin-top: 19%;
  margin-left: 49%;
  position: absolute;
  z-index: 0;
}
#cloud4 {
  width: 40%;
  margin-top: -10%;
  margin-left: 70%;
  position: absolute;
  z-index: 1;
}
#plane {
  z-index: 0;
  width: 4%;
  position: absolute;
  margin-top: 30%;
}

#spiderman {
  margin-left: 53.7%;
  margin-top: 28%;
  position: absolute;
  z-index: 1;
  width: 4%;
}
#container-crow {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 41%;
}
#container-crow2 {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-top: 40%;
  margin-left: 5%;
}
#crow {
  width: 1%;
}
#crow1 {
  width: 1%;
}

#crow2 {
  width: 1%;
  margin-left: 1%;
}

#crow3 {
  width: 1%;
}

#container-city {
  display: flex;
}
#container-clouds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#container-button {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.button {
  width: 60px;
  margin: 10%;
  margin-left: 30%;
  border: 1px solid white;
  border-radius: 30px;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* X, Y, Desenfoque, Color */
  transition: transform 0.2s ease-in-out;
  z-index: 2;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.2);
}
